body {
      /* скидаємо зовнішні відступи блоку */
      margin: 0;
      /* скидаємо внутрішні відступи блоку */
      padding: 0;
      /* виставляємо контейнер на всю висоту вікна браузеру */
      height: 100vh;
    }
    .center {
      /* робимо контейнер відносним */
      position: relative;
      /* зсуваємо контейнер в центр висоти батьківського */
      top: 50%;
      /* зсуваємо контейнер в центр ширини батьківського */
      left: 50%;
      /* переміщуємо контейнер центруємо контейнер через зсув */
      transform: translate(-50%, -50%);
    }
    .dashed_circle {
      /* визначаємо ширину контейнеру */
      width: 500px;
      /* визначаємо висоту контейнеру */
      height: 500px;
      /* робимо границю пунктирною чорного кольору в 5 пікселів  */
      border: 5px dashed black;
      /* скруглюємо контейнер до кола */
      border-radius: 50%;
    }
    .circle {
      /* визначаємо ширину кола */
      width: calc(100% - 100px);
      /* визначаємо висоту кола */
      height: calc(100% - 100px);
      /* скруглюємо контейнер до кола */
      border-radius: 50%;
      /* робимо границю лінією чорного кольору в 1 піксель  */
      border: 1px solid black;
    }
    .white {
      /* фарбуємо фон в білий колір */
      background: white;
    }
    .red {
      /* фарбуємо фон в червоний колір */
      background: red;
    }